{% extends "network/layout_listing.html" %}
{% load static %}

{% block script %}
    <script type="text/javascript">
        var req_user_id = "{{ req_user_id }}";
        var cur_user_id = "{{ user.id }}";
        var req_username = 0;
        var relative_path = "{% url 'profile' 1 %}";
        var is_authenticated = "{{ user.is_authenticated }}";
        var follow_needed = 1;
        var am_following = "{{ am_following }}";
        var following_page = "{{ following_page }}";
    </script> 
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}