{% extends "network/layout.html" %}

{% block body %}
    <h2 id="body-title"></h2>
    <div id="post-view">
        <h4>New Post</h4>
        <form id="post-form">
            {% csrf_token %}
            <textarea class="form-control" id="new_entry" placeholder="Your thoughts..." required></textarea>
            <input type="submit" class="btn btn-primary" id="new_post" value="Post"/>
        </form>
    </div>

    <div id="follow-view">
        <div class="follow">Following {{ following }}</div>
        <div class="follow">Followed by {{ followed_by }}</div>
        {% if user.is_authenticated %}
            <form id="follow-form">
                <input type="submit" class="btn btn-primary" id="change_follow" value="{{ am_following }}"/>
            </form>
        {% endif %}
    </div>
    <br>
    <div id="list-view">
        {% for pp in ppg %}
        <div class='posting'>
            <div class='owner'>{{ pp.user }}</div>
            <div>{{ pp.entry}}</div>
            <div class='timestamp'>{{ pp.timestamp}}</div>
            <div>Like {{ pp.like}}</div>
        </div>
        {% endfor %}
        <br>
        <!-- Fancy Next / Previous buttons -->
        {% if ppg.has_other_pages %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if ppg.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ppg.previous_page_number }}" aria-disabled="true">Previous</a>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" aria-disabled="true">Previous</a>
                {% endif %}
                </li>
                {% for i in ppg.paginator.page_range %}
                    {% if ppg.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if ppg.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ ppg.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
          </nav>
          {% endif %}
    </div>
{% endblock %}