body {
    margin: 5px;
}

.posting {
    border: solid 1px darkgray;
    padding: 2px;
}

/* Stub if we decide to add CSS
.entry {

}
*/

.owner {
    font-weight: bold;
}

.timestamp {
    color: darkgray;

}

.follow {
    font-weight: 500;
}

#display-user {
    font-weight: bold;
}

#list-view {
    margin-top: 5px;
}

.red {
    color: red;
}

.hbtn {
    background-color: transparent;
    border: none;
}